.icon {
    width: 50px;
    height: 50px;

    background-size: 36%;
    background-repeat: no-repeat;
    background-position: center;
}
.icon.tiny {
    width: 25px;
    height: 25px;

    background-size: 20%;
}
.icon.font {
    width: 1em;
    height: 1em;

    background-size: 100%;
}

.icon.map-marker-alt {
    background-image: url(../images/icon/map-marker-alt-solid.svg);
    background-size: 27%;
}

.icon.info {
    background-image: url(../images/icon/info-solid.svg);
}

.icon.money-bill-wave {
    background-image: url(../images/icon/money-bill-wave-solid.svg);
    background-size: 40%;
}

.icon.child {
    background-image: url(../images/icon/child-solid.svg);
}

.icon.heart {
    background-image: url(../images/icon/heart-solid.svg);
}

.icon.dog {
    background-image: url(../images/icon/dog-solid.svg);
    background-size: 45%;
}

.icon.chart-line {
    background-image: url(../images/icon/chart-line-solid.svg);
}