@font-face {
    font-family: raleway;
    src: url(font/Raleway-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: ralewayBold;
    src: url(font/Raleway-ExtraBold.ttf) format("truetype");
    font-weight: bold;
}


*, *::before, *::after
{
    box-sizing: border-box;
    font-family: raleway, serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --primary: #0065FC;
    --primary-light: #DEEBFF;
    --secondary: #F2F2F2;
}

.bold {
    font-family: ralewayBold, serif;
}

.primary {
    background-color: var(--primary);
}
.primary-light {
    background-color: var(--primary-light);
}
.secondary {
    background-color: var(--secondary);
}
.text-primary {
    color: var(--primary);
}
.text-primary-light {
    color: var(--primary-light);
}
.text-secondary {
    color: var(--secondary);
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: black;
}
a:hover {
    color: var(--primary);
    text-decoration: underline var(--primary);
}


/**
 * Header
 */

header {
    position: relative;

    min-height: 132px;
}

header .logo {
    position: absolute;

    top: 24px;
    left: 20px;
}
header .logo * {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

header nav {
    position: absolute;

    height: 100%;
    width: 100%;
}
header nav a {
    font-weight: bold;
}
header nav .register {
    position: absolute;
    display: block;

    top: 40px;
    right: 20px;
}
header nav .register a {
    color: var(--primary);
}
header nav ul {
    position: absolute;
    display: flex;

    width: 100%;

    bottom: 0;

    margin: 0;
    padding: 0;

    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

    list-style-type: none;
}
header nav li {
    display: block;

    width: 100%;
}
header nav li a {
    position: relative;
    display: block;

    width: 100%;

    padding: 21px 0;

    text-align: center;
}
header nav li a::after {
    content: "";
    position: absolute;
    display: block;

    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;

    background-color: var(--secondary);
}
header nav li a.active {
    color: var(--primary);
}
header nav li a.active::after {
    background-color: var(--primary);
}
/**
 * Footer
 */

footer {
    padding: 20px 30px;
}
footer .row {
    margin: 25px 0;
}
footer ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}
footer ul li {
    margin: 10px 0 0 0;
}