@font-face {
    font-family: raleway;
    src: url(font/Raleway-VariableFont_wght.ttf) format("truetype");
}
@font-face {
    font-family: ralewayBold;
    src: url(font/Raleway-ExtraBold.ttf) format("truetype");
    font-weight: bold;
}


*, *::before, *::after
{
    box-sizing: border-box;
    font-family: raleway, serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --primary: #0065FC;
    --primary-light: #DEEBFF;
    --secondary: #F2F2F2;
}

.bold {
    font-family: ralewayBold, serif;
}

.font-bold {
    font-weight: bold;
}

.primary {
    background-color: var(--primary);
}
.primary-light {
    background-color: var(--primary-light);
}
.secondary {
    background-color: var(--secondary);
}
.text-primary {
    color: var(--primary);
}
.text-primary-light {
    color: var(--primary-light);
}
.text-secondary {
    color: var(--secondary);
}

p, h1, h2, h3, h4, h5, h6 {margin: 0;}
h1, h2, h3, h4, h5, h6 {font-family: ralewayBold, serif;}

a {
    color: black;
}
a:hover {
    color: var(--primary);
    text-decoration: underline var(--primary);
}


/**
 * Header
 */

header {
    position: relative;

    min-height: 132px;
}

header .logo {
    position: absolute;

    top: 24px;
    left: 20px;
}
header .logo * {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

header nav {
    position: absolute;

    height: 100%;
    width: 100%;
}
header nav a {
    font-weight: bold;
}
header nav .register {
    position: absolute;
    display: block;

    top: 40px;
    right: 20px;
}
header nav .register a {
    color: var(--primary);
}
header nav ul {
    position: absolute;
    display: flex;

    width: 100%;

    bottom: 0;

    margin: 0;
    padding: 0;

    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;

    list-style-type: none;
}
header nav li {
    display: block;

    width: 100%;
}
header nav li a {
    position: relative;
    display: block;

    width: 100%;

    padding: 21px 0;

    text-align: center;
}
header nav li a::after {
    content: "";
    position: absolute;
    display: block;

    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;

    background-color: var(--secondary);
}
header nav li a.active {
    color: var(--primary);
}
header nav li a.active::after {
    background-color: var(--primary);
}



/**
 * Main
 */


.input-form[type=text] {
    padding: 10px 16px !important;

    font-family: ralewayBold, serif;
    font-size: 18px;

    border: 1px solid var(--secondary);

    border-radius: 15px;
}
.input-form[type=submit] {
    width: 50px;

    padding: 10px 16px !important;

    background-image: url(images/icon/search.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;

    font-family: ralewayBold, serif;
    font-size: 0;

    border: none;

    border-radius: 15px !important;
}


.input-group {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.input-group * {
    z-index: 5;
    height: 50px;

    margin: 1px 0;
    padding: 10px 16px !important;
    border-top: 1px solid var(--secondary) !important;
    border-bottom: 1px solid var(--secondary) !important;

    border-radius: 0 !important;
}

.input-group:focus-within * {
    border-top: 2px solid black !important;
    border-bottom: 2px solid black !important;
}
.input-group *:first-child {
    margin-left: 2px;

    border-left: 1px solid var(--secondary) !important;

    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
    -moz-border-radius-topleft: 15px !important;
    -moz-border-radius-bottomleft: 15px !important;
    -webkit-border-top-left-radius: 15px !important;
    -webkit-border-bottom-left-radius: 15px !important;
}
.input-group:focus-within *:first-child {
    margin-left: 1px;
    border-left: 2px solid black !important;
}
.input-group *:last-child {
    margin-right: 2px;

    border-right: 1px solid var(--secondary) !important;

    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    -moz-border-radius-topright: 15px !important;
    -moz-border-radius-bottomright: 15px !important;
    -webkit-border-top-right-radius: 15px !important;
    -webkit-border-bottom-right-radius: 15px !important;
}
.input-group:focus-within *:last-child {
    margin-right: 1px;

    border-right: 2px solid black !important;
}

.input-group .input-form[type=text] {
    z-index: 1;

    max-width: 70vw;

    margin: 1px -16px;
    padding: 10px 32px !important;
}

.input-group .input-form[type=submit].primary {border: 1px solid var(--primary) !important;}
.input-group:focus-within .input-form[type=submit].primary {border: 2px solid var(--primary) !important;}

.input-group:focus-within .icon:first-child {width: 51px;}
.input-group:focus-within .input-form[type=submit]:first-child {width: 51px;}


.pill {
    display: flex;
    height: 50px;

    margin: 5px;
    padding-right: 15px;

    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    border: 2px solid var(--secondary);
    border-left: none;
    border-radius: 25px;
}
.pill .icon {
    background-color: var(--primary-light);
    border-radius: 25px;
    margin-right: 10px;
    margin-left: -2px;
}

.star {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: -3px;
    background-image: url(images/icon/star.svg);
    background-size: 12px;
}
.star.fill {
    background-image: url(images/icon/starfill.svg);
}
.star:last-child {
    margin-right: 0;
}

.card {
    display: flex;

    width: 100%;
    height: 250px;

    margin-bottom: 10px;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-start;
    align-items: stretch;

    background-color: white;

    border-radius: 25px;

    box-shadow: 0 5px 15px 0 lightgrey;
}
.card:not(.flex-direction-row) {
    height: 200px;
}
.card.flex-direction-row {
    height: 150px;
}

.card:not(.flex-direction-row)>:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card:not(.flex-direction-row)>:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.card.flex-direction-row>:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.card.flex-direction-row>:last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.card:not(.full-size)>* {
    margin: 5px;
}
.card:not(.full-size)>*:not(img) {
    padding-left: 15px;
}

.card .card-img {
    object-fit: cover;
}
.card:not(.flex-direction-row):not(.full-size) .card-img {
    width: calc(100% - 10px);
    height: 115px;
}
.card:not(.flex-direction-row).full-size .card-img {
    width: 100%;
    height: 135px;
}
.card.flex-direction-row .card-img {
    width: 40%;
}

.card .card-content {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

    flex-basis: 100%;
}
.card .card-content.card-title {
    align-content: center;
    justify-content: center;
    padding-left: 15px;
}
.card .note {
    margin-bottom: 10px;
}

.card p {
    margin-top: 5px;
    flex-basis: 100%;
}

.card.flex-direction-row .card-title {
    margin-top: 10px;
}


#filterinfo {
    margin-top: 20px;
    align-items: flex-start;
}
#filterinfo .icon {
    border: 1px solid var(--secondary);
    margin-right: 10px;
    border-radius: 50%;
}


section, .section {
    display: flex;

    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 20px;
}


#hebergements{
    padding: 0;
}
#hebergements>div {
    padding: 20px;
}

/**
 * Footer
 */

footer {
    padding: 20px 30px;
}
footer .row {
    margin: 25px 0;
}
footer ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style-type: none;
}
footer ul li {
    margin: 10px 0 0 0;
}